*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 50px;
}

h1, h2{
  padding: 0;
  margin: 0;
}

.dark-background, .gray-background, .white-background{
  padding-left: 100px;
  padding-right: 100px;
}

.dark-background{
  background-color: #1f2937;
  color: #e5e7eb
}
.gray-background{
  background-color: #e5e7eb;
}

.header a{
  text-decoration: none;
  color: #e5e7eb
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links{
  list-style: none;
  display: flex;
  gap: 15px;
}

.logo, h1{
  color: #f9faf8;
}

.logo{
  font-size: 24px;
  font-weight: 900;
}

.section1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section1-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section1-img{
  width: 400px;
  height: auto;
  flex: 0 1 auto;
  padding: 50px 0px 50px 40px;
}

h1{
  font-size: 48px;
  font-weight: bolder;
  line-height: 1em;
}

button{
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border-style: none;
  padding: 6px 15px;
  border-radius: 5px;
}

.section2{
  text-align: center;
}

.tiny-img{
  width: 150px;
  height: auto;
  flex: 1 0 auto;
  border-color: blue;
  border-style: solid;
  border-radius: 5px;
}

.section2-images{
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.section2-img-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h2{
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}

.section2 img{
  border-color: #3882f6;
}

.section3{
  text-align: right;
  font-weight: bold;
  padding: 50px 0px;
}

.section3 .quote{
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

.section4 p, .section4 h3{
  color: #e5e7eb;
  margin:0;
  padding:0;
}

.section4 button{
  border-style:solid;
  border-color: white;
  flex: 0 0 auto;
}

.section4-blue-box{
  background-color: #3882f6;
  border-radius: 5px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
}

.footer{
  text-align: center;
  padding: 25px 0;
}